[Desktop Entry]
Name=OsciTronix
GenericName=OsciTronix
Comment=Controller for VOX VTX series guitar amps
Comment[fr]=Contrôleur pour les amplis guitare VOX de la série VTX
Exec=oscitronix
Icon=oscitronix
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Qt;
X-NSM-Capable=true
